Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
Makefile
.deps
config.h
config.log
stamp-h1
stamp-h2
autom4te.cache/
libtool
config.status
